appnope==0.1.0
asgiref==3.2.10
astroid==2.4.2
backcall==0.2.0
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
decorator==4.4.2
dj-database-url==0.5.0
Django==3.0.8
django-cors-headers==3.4.0
djangorestframework==3.11.0
fancycompleter==0.9.1
google-api-core==1.23.0
google-api-python-client==1.12.6
google-auth==1.23.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
googleapis-common-protos==1.52.0
gunicorn==20.0.4
httplib2==0.18.1
idna==2.10
ipdb==0.13.3
ipython==7.18.1
ipython-genutils==0.2.0
isort==5.6.4
jedi==0.17.2
lazy-object-proxy==1.4.3
mccabe==0.6.1
oauthlib==3.1.0
parso==0.7.1
pdbpp==0.10.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.7
protobuf==3.14.0
psycopg2-binary==2.8.5
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.6.1
pylint==2.6.0
pyrepl==0.9.0
python-http-client==3.3.1
pytz==2020.1
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
sendgrid==6.4.7
sentry-sdk==0.17.3
six==1.15.0
sqlparse==0.3.1
starkbank-ecdsa==1.1.0
toml==0.10.2
traitlets==5.0.3
uritemplate==3.0.1
urllib3==1.25.10
wcwidth==0.2.5
whitenoise==5.2.0
wmctrl==0.3
wrapt==1.12.1
